.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  background-color: #bcebf3;
}

h1 {
  font-size: 75px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 35px;
}

h4 {
  font-size: 30px;
}

label {
  font-size: 20px;
}

p {
  font-size:20px;
}

ul {
  list-style-position:inside;
  padding-left:0;
  font-size: 20px;
}

.project {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 10px;
  background-color: #bcebf3;
}

.center {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 10px;
  text-align:center;
  background-color: #bcebf3;
}

.button {
  background-color: #f9e45b; 
  border: none;
  color: #1b4d89;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  box-shadow: 0 3px 6px 0 rgba(85, 85, 85, 0.24), 0 6px 15px 0 rgba(68, 68, 68, 0.19);    
  font-weight:bold;
}

.button:hover {
  background-color: #6db784;
}

.smallerbutton {
  background-color: #f9e45b; 
  border: none;
  color: #1b4d89;
  padding: 8px 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgba(85, 85, 85, 0.24), 0 5px 10px 0 rgba(68, 68, 68, 0.19);
  font-weight:bold;
}

.smallerbutton:hover {
  background-color: #6db784;
}

.column {
  float: left;
  width: 32.13%;
  height: 85vh;
  padding:15px;
}

.left {
  background-color:#cdf0f7;
}

.middle {
  background-color:#d7f2f5;
}

.right {
  background-color:#e2f3f5;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
